body {
	background-color: black;
	font-family: arial, helvetica, sans-serif;
	color: white;
	padding: 30px 10px 10px 10px;
}

.hide {
	display: none;
}

body.noscroll {
	overflow: hidden;
}

h1 {
	font-size: 72pt;
}

p.todo {
	font-size: xx-large;
}

span.bullet.done {
	font-weight: bold;
	color: #00a000;
}

span.bullet.todo {
	font-weight: bold;
	color: #a0a0a0;
}

/* Tables */

table, div.block {
	margin-bottom: 20px;
}

th, h2 {
	font-size: 36pt;
	color: #00dcff;
	text-align: left;
	padding: 10px 0;
}

h2 {
	margin: 0;
}

td, div.block {
	font-size: 20pt;
}

strong {
	color: #00ff72;
}

strong.todo {
	color: #ff7200;
}

strong.wip {
	color: #ffff72;
}

strong.uhoh {
	color: #ff2020;
}

div.block {
	float: left;
	width: 50%;
	line-height: 140%;
}

div.innerblock {
	padding: 5px;
}

/* Irregulars */
div.block.clock {
	background-color: #202020;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 8pt;
	text-align: center;
}

div.block.clock h2 {
	display: none;
}

div.block.fprint {
	background-color: #202020;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 8pt;
	text-align: center;
	margin-bottom: 0;
}

div.block.fprint h2 {
	display: none;
}

/* editor */
table.table.normal th {
	font-size: 14pt !important;
}

table.table.normal td {
	font-size: 11pt !important;
}

table.schedule {
	border-width: 1px 0 0 1px;
	border-collapse: collapse;
	font-size: 7pt;
	line-height: normal;
}
table.schedule th {
	font-size: 7pt !important;
	text-align: center !important;
	padding: 0;
}
table.schedule td {
	font-size: 7pt !important;
	background-color: #101010;
}

table.schedule th.mainhead {
	font-size: 10pt !important;
}

table.schedule td.filled {
	color: #a0a0a0;
	width: 75px;
	/* opacity: 0.5; */
}
table.schedule td.spacer {
	width: 75px;
}
table.schedule td.filled strong {
	color: #d0d0d0;
	font-weight: bold;
}

table.schedule td.filled.cell0 { background-color: rgba(255,   0,   0, 0.2); }
table.schedule td.filled.cell1 { background-color: rgba(  0, 255,   0, 0.2); }
table.schedule td.filled.cell2 { background-color: rgba(  0,   0, 255, 0.2); }
table.schedule td.filled.cell3 { background-color: rgba(255, 255,   0, 0.2); } 
table.schedule td.filled.cell4 { background-color: rgba(255,   0, 255, 0.2); }
table.schedule td.filled.cell5 { background-color: rgba(  0, 255, 255, 0.2); }
table.schedule td.filled.cell6 { background-color: rgba(255, 128,   0, 0.2); }
table.schedule td.filled.cell7 { background-color: rgba(  0, 255, 128, 0.2); }
table.schedule td.filled.cell8 { background-color: rgba(128,   0, 255, 0.2); }
table.schedule td.filled.cell9 { background-color: rgba(128, 255,   0, 0.2); }
table.schedule td.filled.now   { opacity: 1; }

/* menu */
div.menu {
	background-color: #101010;
	position: absolute;
	top: 180px;
	left: 5px;
	width: 300px;
	border: 1px solid #888;
}

div.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.menu ul li {
	display: block;
	padding: 16px 12px;
	font-size: 14pt;
}
